﻿@charset "utf-8";

.logo
{
height:100px;
width:100px;
}
.img
{
height:300px;
width:300px;
}
tr,
td {
    color: #6d5e6c;
    border: 3px solid rgb(202, 134, 134);
    text-align: center;
}

#table1,
#Cours,
#review,
.reviews,
#table3,
h3,
.forms {
    background-color:#00ff90;
    margin-top: 10px;
    max-width: 960px;
    margin-left: 5%;
    width: 100%;
}

.table2 {
    margin-left: 20%;
}

.table21:hover {
    color: #ff0ff3
}

.rev
{
background-color:#32CD32;
}
.about
{
background-color:#a4d11e;
}
.contacts
{
background-color:#0094ff;
}
.headerstyle
{
background-color:#701414;
}
.navstyle
{
background-color:#ff6a00;
}
#menu ul
{
  list-style: none;
}
.mainstyle
{
background-color: #00ff90;
}
p 
{
 border: 1px solid red;
 padding: 5px;
}
i
{
border: 1px solid blue;
padding: 5px;
}
body {
    background: url(http://www.kabu-load.net/data/out/7/IMG_424948.jpg) no-repeat;
    background-size: 100%;
}
